aside.main-sidebar.hidden-print

	section.sidebar
		.user-panel
			.pull-left.image
				img.img-circle(src='https://s3.amazonaws.com/uifaces/faces/twitter/jsa/48.jpg', alt='User Image')
			.pull-left.info
				p John Doe
				p.designation Frontend Developer

		// Sidebar Menu
		ul.sidebar-menu
			li.active
				a(href='index.html')
					i.fa.fa-line-chart
					span Markets
			li
				a(href='charts.html')
					i.fa.fa-globe
					span Trade
			li
				a(href='charts.html')
					i.fa.fa-share-square
					span Social	
			li
				a(href='charts.html')
					i.fa.fa-question-circle
					span Support						